.parktech {
    font-family: 'park_tech_cgregular';
    font-weight: normal;
    font-style: normal;

}




.checkbook {
    font-family: 'checkbookregular';
    font-weight: normal;
    font-style: normal;

}




.cpu {
    font-family: 'chintzy_cpu_brkregular';
    font-weight: normal;
    font-style: normal;

}