*{
   margin: 0; 
   color: #C6AEC7;
   background-color:#3A3B3C;
}
@font-face {
    font-family: 'park_tech_cg';
    src:url('./park_tech_cg_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'park_tech_cg';
    src: url('./park_tech_cg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@keyframes backmove{
   
    0%{background-image: url("https://maper.info/XkHXg.jpg");background-position: 0px 0px;}
   2%{background-image: url("oddback.jpg");background-position: 0px 0px;}
    24.5651%{background-image: url("oddback.jpg");background-position: 0px -500px;}
    24.5662%{background-image: url("oddback2.jpg");background-position: 0px 0px;}
    49.5651%{background-image: url("oddback2.jpg");background-position: -80px -800px;}
    49.5662%{background-image: url("oddback3.jpg");background-position: 0px 0px;}
    74.5651%{background-image: url("oddback3.jpg");background-position: 0px -500px;}
    74.5662%{background-image: url("oddback4.jpg");background-position: 0px 0px;}
    100%{background-image: url("oddback4.jpg");background-position: 0px -500px;}
}
.transpayrent{
    background-color: transparent;
}
.bar{

    
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0px -300px;
    margin: auto;
    padding: 30px;
    width: auto;
    animation: backmove 100s infinite linear;
}
.brand{
    margin:0px;
}

.park {
    font-family: 'park_tech_cg';
    color: #FFE4E1;
    font-size: 100px;

    

}

iframe{
    margin: 30px 3px 3px 3px;
    width: 300px;
    height: 170px;
    
}

.frames{
    margin: auto;
  width: auto;
  background-color:#3A3B3C;
padding: 40px 10px 10px 10px;
}

footer{
    text-align: center;
    color: black;
}

